/* 

          --- Color Palette ---
    #372f36 - Black Coffee
    #C3C6A9 - Laurel Green
    #3A5A40 - Hunter Green
    #344E41 - Brunswick Green
    #C8CF3A - Pear
*/
body{
    color: #372f36;
    height: 100vh;
}

.aColor{
    color: #372f36;
}

.background{
    background: linear-gradient(#3A5A40, 350px, #C3C6A9);
    background-size: cover;
    background-repeat: no-repeat;
}
.footerColor{
    background: #C3C6A9;
}

.cardColor{
    background-color: #344E41;
    color: #C8CF3A;
    border: 2px #372f36 solid;
}

.cardImg{
    height: 230px;
}

.btnColor{
    background-color:#372f36;
    color: #C3C6A9; 
}

.navColor{
    background-color: #3A5A40;
    border-bottom: 4px #372f36 solid;
}


.fa {
padding: 13px;
font-size: 13px;
text-align: center;
text-decoration: none;
margin: 5px;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

#TopNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
