* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("paper.jpg");
  background-size: cover;
  margin: 30px;
  display: flex;
}
img {
  max-width: 100%;
  max-height: 93vh;
  height: auto;
  margin: auto;
 }
.over-img {
  position: absolute;
  top: 2.2%;
  left: 1.4%;
  width: 5%;
}
.info {
  width: 25vw;
  text-align: center;
  margin-left: 115px;
}
.info h1 {
  text-decoration: underline;
  font-size: 2vw;
}
.info p {
  font-size: .85vw;
}
